<!-- Menú lateral -->
<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title color="warning">Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="dark">
    <ion-list>
      <ion-item (click)="irAHome()">
        <ion-icon name="home" slot="start" color="warning"></ion-icon>
        <ion-label color="warning">Inicio</ion-label>
      </ion-item>
      <ion-item (click)="cerrarSesion()">
        <ion-icon name="log-out" slot="start" color="warning"></ion-icon>
        <ion-label color="warning">Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button color="warning"></ion-menu-button>
      </ion-buttons>
      <ion-title color="warning">Favoritos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="dark">
    <ion-list>
      <ion-item color="dark" *ngFor="let pelicula of favoritos">
        <ion-thumbnail slot="start">
          <img [src]="pelicula.imagen" alt="Portada de la película">
        </ion-thumbnail>
        <ion-label color="warning">
          <h2>{{pelicula.titulo}}</h2>
          <p>{{pelicula.genero}}</p>
          <p *ngIf="pelicula.nota">Nota: {{pelicula.nota}}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button color="warning" (click)="editarFavorito(pelicula)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button color="warning" (click)="eliminarFavorito(pelicula)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-content>
</div>