<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Bienvenido a MOO-BEE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <div class="logo-container">
          <img src="assets/logo.jpg" alt="MOO-BEE Logo" class="logo">
        </div>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="login()">
          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input type="email" placeholder="Correo electrónico" [(ngModel)]="email" name="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" class="ion-margin-top">Iniciar sesión</ion-button>
        </form>
        <ion-button expand="block" fill="clear" (click)="navigateToResetPassword()" class="ion-margin-top">¿Olvidaste tu contraseña?</ion-button>
        <ion-button expand="block" fill="clear" (click)="navigateToRegistro()" class="ion-margin-top">No tienes cuenta, regístrate</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
