<!-- Definición del menú lateral -->
<ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <!-- Lista principal del menú -->
    <ion-list id="inbox-list">
      <!-- Encabezado del menú -->
      <ion-list-header>Menú</ion-list-header>
      <ion-note>Bienvenido</ion-note>

      <!-- Ítem para navegar al inicio -->
      <ion-item (click)="navegarAInicio()">
        <ion-icon slot="start" name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>

      <!-- Ítem para navegar a favoritos -->
      <ion-item (click)="navegarAFavoritos()">
        <ion-icon slot="start" name="heart"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-item>

      <!-- Ítem para navegar al perfil -->
      <ion-item (click)="navegarAPerfil()">
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>

      <!-- Ítem para cerrar sesión -->
      <ion-item (click)="cerrarSesion()">
        <ion-icon slot="start" name="log-out"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Router outlet para mostrar el contenido de las páginas -->
<ion-router-outlet id="main-content"></ion-router-outlet>
