<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="warning"></ion-menu-button>
    </ion-buttons>
    <ion-title color="warning">Películas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-peliculas">
  <h2>Lista de Películas</h2>

  <ion-list>
    <ion-card *ngFor="let pelicula of peliculas" color="dark">
      <!-- Imagen de la película -->
      <img [src]="pelicula.imagen" alt="Imagen de {{ pelicula.titulo }}" style="width: 100%; height: 300px; object-fit: cover;">

      <ion-card-header>
        <ion-card-title color="warning">{{ pelicula.titulo }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>{{ pelicula.descripcion }}</p>
      </ion-card-content>

      <!-- Botón para agregar a favoritos -->
      <ion-button expand="block" color="warning" (click)="agregarAFavoritos(pelicula)">
        <ion-icon name="heart-outline" slot="start"></ion-icon>
        Agregar a Favoritos
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>
