<ion-content id="main-content" color="dark">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button color="warning"></ion-menu-button>
      </ion-buttons>
      <ion-title color="warning">Películas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido de bienvenida y lista de películas -->
  <div *ngIf="!iniciado" class="ion-padding">
    <h1 class="ion-text-center" color="warning">Bienvenido {{ username }}</h1>
    <p class="ion-text-center" color="light">Explora nuestra colección de películas y descubre nuevos títulos.</p>
    <ion-button expand="block" (click)="comenzar()" color="warning" class="ion-margin-top">Comenzar</ion-button>
  </div>

  <!-- Lista de películas -->
  <div *ngIf="iniciado" class="ion-padding">
    <ion-card *ngFor="let pelicula of peliculas" color="dark" 
              [ngStyle]="{'--animation-duration': '1s'}"
              [ngClass]="{'animate-card': iniciado}">
      <img [src]="pelicula.imagen" [alt]="pelicula.titulo">
      <ion-card-header>
        <ion-card-title color="warning">{{ pelicula.titulo }}</ion-card-title>
        <ion-card-subtitle color="light">{{ pelicula.genero }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content color="light">
        <p>{{ pelicula.descripcion }}</p>
      </ion-card-content>
      <!-- Se eliminó el botón "Ver detalles" -->
      <ion-button fill="clear" color="warning" (click)="agregarAFavoritos(pelicula)">
        Agregar a favoritos
      </ion-button>
    </ion-card>
  </div>
</ion-content>
